@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.header{
    position: sticky;
    top: 0;
    background-color: #553d2a;
    color: #fff9e1;
    display: flex;
    justify-content:space-between; 
    align-items: center;
    z-index: 1; 
    .padreLogo{
        width: 20%;
        margin: 10px;
     }
    .logoPrincipal{
        width: 170px;
    }
    .logoError{
        width: 170px;
        margin: 0px;
    }
    .navegacion{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-top: 7px;
        .listaNav{
            display: flex;
            column-gap: 10px;
            list-style: none;
            align-items: center;
            .listaItem{
                display: inline-block;
                margin: 5px;
                padding: 5px;
                text-align: right;
                .linkNav{
                    color: #fff9e1;
                    text-decoration: none;
                    font-size: 1.4rem;
                    padding: 7px;
                }
                .linkNav:hover{
                    border-bottom: 2px solid #fff9e1;
                }
            }
        }
    }
}

.linkDescubrir{
    box-sizing: content-box;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0);
    width: 140px;
    color: #fff9e1;
    text-decoration: none;
    border: 1px solid #fff9e1;
    border-radius: 50px;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 10px;
    padding: 18px 15px 15px 15px;
    margin-top:10px;
    transition: transform 0.3s ease;
}
.linkDescubrir:hover{
    background-color: #553d2a;
    transform: scale(1.1);
}
@media screen and (max-width: 768px){
    .linkDescubrir{
        width: 120px;
        font-size: 1.2rem;
        padding: 18px 15px 15px 15px;
    }
}

.fa-whatsapp{
    color:#25D366;
    font-size: 3rem;
    position: fixed;
    bottom: 15px;
    right: 15px;
    transition: transform 0.3s ease;
} 
.fa-whatsapp:hover {
    transform: scale(1.2);
}
.mainIndex{
    .seccionTitulo{
        padding-left: 6%;
        padding-top: 6%;
        display: block;
        color:#fff9e1;
        line-height: 1;
        background-image: url("../assets/img/fondo_principal.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        width: 100%;
        height: 100vh;
        .tituloPrincipal{
            font-size: 4.5rem;
            font-weight: 700;
            margin-bottom: 10px;
        }
        .tituloSecundario{
            font-size: 2.5rem;
            font-weight: 300;
            margin-top: 10px;
            margin-bottom: 10px;
            }     
    }
    @media screen and (max-width: 768px){
        .seccionTitulo{
            background-image: url("../assets/img/fondo_principal_peq.jpg");
            .tituloPrincipal{
                font-size: 3.5rem;
            }
            .tituloSecundario{
                font-size: 1.8rem;
                }     
        }
    }
    .lineaTitulos{
        width: 7%;
        border: 2px solid #553d2a;
        border-radius: 12px;
        margin: 10px auto 50px auto;
        text-align: center;
    }

    .divSeparador{
        height: 40px;
    }

    .seccionCards{
        width: 96%;
        margin: 50px auto 80px auto;
        text-align: center;
        .tituloSeccionCard{
            color: #553d2a;
            text-align: center;
            font-size: 3rem;
            padding-top: 50px;
        }
        .card{
            display: inline-block;
            width: 400px;
            height: auto;
            background-color: #e3d7bf;
            border-radius: 12px;
            padding: 15px;
            margin: 40px;            
            .imgCard{
                width: 100%;
                height:90%;
                border-radius: 12px;
                margin-top: -45px;
                object-fit: contain;
                object-fit: cover;
            }
            .tituloCard{
                font-size: 1.7rem;
                color: #553d2a;
                font-weight: bold;
                text-align: center;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .txtCard{
                font-size: 1rem;
                color: #553d2a;
                font-weight: 500;
                text-align: center;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .linkCard{
                box-sizing: content-box;
                display: inline;
                display: inline-block;
                background-color: rgba(255, 255, 255, 0);
                width: 100px;
                color: #553d2a;
                text-decoration: none;
                border: 1px solid #553d2a;
                border-radius: 25px;
                font-size: 16px;
                text-align: center;
                padding: 10px;
                margin-top:10px;
            }
            .linkCard:hover{
                background-color: #553d2a;
                color: #fff9e1;
            }
        }
    }

    .seccionBarista{
        width: 100%;
        margin: 50px auto 50px auto;
        text-align: center;
        background-color: #e3d7bf;
        padding-bottom: 50px;
        margin-bottom: 0px;
        .tituloSeccionBarista{
            color: #553d2a;
            text-align: center;
            font-size: 3rem;
            padding-top: 50px;
        }
        .tituloBarista{
            font-size: 1.7rem;
            color: #553d2a;
            font-weight: bold;
            text-align: left;
            margin-bottom: 10px;
        }
        .txtBarista{
            font-size: 1.1rem;
            color: #553d2a;
            font-weight: normal;
            text-align: left;
            margin-left: 15px;
            margin-top: 5px;
            margin-bottom: 7px;
        }
        .containerFlex {
            display: flex; 
            height: auto;
        }
        .imgBarista{
            width: 50%;
            height: auto;
            border-radius: 12px;
        }
        .itemFlexIzq {
            width: 40%;
            height: auto;
            margin: 2%;
        }
        .itemFlexDer {
            width: 60%;
            height: auto;
            text-align: left;
            margin: 2%;
        }
        @media screen and (max-width: 768px){
            .tituloBarista{
                text-align: center;
                margin-top: 10px;
            }
            .containerFlex {
                flex-wrap: wrap;
                justify-content: center;
            }
            .imgBarista{
                width: 45%;
            }
            .itemFlexIzq {
                width: initial;
            }
            .itemFlexDer {
                width: initial;
            }
        }
    }

    .seccionNosotros{
        width: 100%;
        margin: 50px auto 50px auto;
        text-align: center;
        padding-bottom: 50px;
        margin-bottom: 0px;
        .tituloSeccionNosotros{
            color: #553d2a;
            text-align: center;
            font-size: 3rem;
            padding-top: 50px;
        }
        .tituloNosotros{
            font-size: 2.7rem;
            color: #553d2a;
            font-weight: bold;
            text-align: left;
            margin-top: 10px;
            margin-bottom: 5px;
        }
        .subTituloNosotros{
            font-size: 1.6rem;
            color: #553d2a;
            font-weight: bold;
            text-align: left;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .txtNosotros{
            font-size: 1.1rem;
            line-height: 1.3;
            color: #553d2a;
            font-weight: normal;
            text-align: left;
            margin-left: 15px;
            margin-top: 5px;
            margin-bottom: 7px;
        }
        .containerFlexNos{
            display: flex; 
            height: auto;
        }
        .videoNosotros{
            width: 98%;
            height: 350px;
            border-radius: 12px;
        }
        .itemFlexNosIzq {
            width: 40%;
            height: auto;
            margin: 2%;
        }
        .itemFlexNosDer {
            width: 60%;
            height: auto;
            text-align: left;
            margin: 2%;
        }
        .divBotonNosotros {
            display: flex;
            justify-content: flex-end;
            margin: 30px;
            .linkBotonNosotros{
                box-sizing: content-box;
                display: inline-block;
                background-color:#553d2a;
                width: 140px;
                color: #fff9e1;
                text-decoration: none;
                border: 1px solid #fff9e1;
                border-radius: 50px;
                font-size: 1.2rem;
                text-align: center;
                padding-top: 10px;
                padding: 18px 15px 15px 15px;
                margin-top:10px;
                transition: transform 0.3s ease;
            }
            .linkBotonNosotros:hover{
                background-color:#907761;
                transform: scale(1.1);
            }
        }
        @media screen and (max-width: 768px){
            .tituloNosotros{
                text-align: center;
                margin-top: 10px;
            }
            .subTituloNosotros{
                text-align: center;
                margin-bottom: 30px;
            }
            .containerFlexNos{
                flex-wrap: wrap;
                justify-content: center;
            }
            .itemFlexNosIzq {
                width: initial;
            }
            .itemFlexNosDer {
                width: initial;
            }
            .divBotonNosotros {
                justify-content: center;
            }
        }
    }

    .galeriaFotos{
        width: 70%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 350px 250px 180px 350px;
        grid-template-areas: "grilla1 grilla3"
                             "grilla2 grilla3"
                             "grilla4 grilla3"
                             "grilla4 grilla5";
        gap: 30px;
        
        .g1{
            grid-area: grilla1;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 12px;
            }   
        }
        .g2{
            grid-area: grilla2;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 12px;
            }
        }
        .g3{
            grid-area: grilla3;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 12px;
            }
            .galeriaLogoG3{
                width: 35%;
                position: absolute;
                top: 40px;
                left: 40px;
            }
        } 
        .g4{
            grid-area: grilla4;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 12px;
            }
            .galeriaLogoG4{
                width: 35%;
                position: absolute;
                bottom: 40px;
                left: 40px;
            }
        }    
        .g5{
            grid-area: grilla5;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 12px;
            }
        }                          
    }
    @media screen and (max-width: 768px){
        .galeriaFotos{
            width: 85%;
            grid-template-rows: 150px 150px 120px 180px;
            gap: 20px;
            .g3{
                .galeriaLogoG3{
                    width: 80%;
                    top: 20px;
                    left: 20px;
                }
            }
            .g4{
                .galeriaLogoG4{
                    width: 80%;
                    bottom: 20px;
                    left: 20px;
                }
            }
        }
    }

    .seccionComentario{
        width: 96%;
        margin: 50px auto 50px auto;
        text-align: center;
        .tituloSeccionComentario{
            color: #553d2a;
            text-align: center;
            font-size: 3rem;
            padding-top: 50px;
        }
        .comentario{
            display: inline-block;
            width: 320px;
            height: auto;
            background-color: white;
            border: 1px solid #553d2a;
            border-radius: 12px;
            padding: 15px;
            margin: 40px 20px 60px 20px;
            .imgComentario{
                width: 30%;
                height: 30%;
                border-radius: 50%;
                box-shadow: 2px 2px 2px 1px rgba(85, 61, 42, 0.349);
                margin-top: -50px;
                object-fit: contain;
                object-fit: cover;
            }
            .tituloComentario{
                font-size: 1.7rem;
                color: #553d2a;
                font-weight: bold;
                text-align: center;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .subtituloComentario{
                font-size: 1.2rem;
                color: #553d2a;
                font-weight: normal;
                text-align: center;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .txtComentario{
                font-size: 1rem;
                color: #553d2a;
                font-weight: 500;
                text-align: left;
                margin-top: 20px;
                margin-bottom: 10px;
            }
            .linkComentario{
                box-sizing: content-box;
                display: inline;
                display: inline-block;
                background-color: rgba(255, 255, 255, 0);
                width: 100px;
                color: #553d2a;
                text-decoration: none;
                border: 1px solid #553d2a;
                border-radius: 25px;
                font-size: 16px;
                text-align: center;
                padding: 10px;
                margin-top:10px;
            }
            .linkComentario:hover{
                background-color: #553d2a;
                color: #fff9e1;
            }
        }
    }

    .seccionContacto{
        width: 100%;
        margin: 50px auto 50px auto;
        text-align: center;
        padding-bottom: 50px;
        margin-bottom: 0px;
        .tituloSeccionContacto{
            color: #553d2a;
            text-align: center;
            font-size: 3rem;
            padding-top: 50px;
        }
        .tituloContacto{
            font-size: 2.7rem;
            color: #553d2a;
            font-weight: bold;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 5px;
        }
        .containerFlexCont{
            display: flex; 
            height: auto;
        }
        .imgContacto{
            width: 50%;
            height: auto;
            border-radius: 12px;
        }
        .itemFlexContIzq {
            width: 40%;
            height: auto;
            margin: 2%;
        }
        .itemFlexContDer {
            width: 60%;
            height: auto;
            text-align: left;
            margin: 2%;
        }
        .formularioContacto{
            flex-direction: column;
            justify-content: center;
            margin: 3% 10% 3% 10%;
            .txtEtiqueta{
                font-size: 1rem;
                color: #553d2a;
                text-align: left;
                padding: 5px;
            }
            .txtCampo{
                width: 98%;
                font-size: 1.1rem;
                border: 1px solid #553d2a;
                border-radius: 7px;
                padding: 10px;
                margin: 5px 5px 20px 5px;
            }
            .divBotones {
                display: flex;
                justify-content: flex-end;
                margin: 0px 30px 0px 30px;;
            }
            .botonForm{
                width: 120px;
                background-color: rgba(255, 255, 255, 0);
                color: #553d2a;
                border: 1px solid #553d2a;
                border-radius: 25px;
                font-size: 16px;
                text-align: center;
                padding: 10px;
                margin: 15px 5px 5px 5px;
                cursor: pointer;
            }
            .botonForm:hover{
                background-color: #553d2a;
                color: #fff9e1;
            }
        }
        @media screen and (max-width: 768px){
            .tituloContacto{
                text-align: center;
                margin-top: 10px;
            }
            .containerFlexCont{
                flex-wrap: wrap;
                justify-content: center;
            }
            .itemFlexContIzq {
                width: initial;
            }
            .itemFlexContDer {
                width: initial;
            }
        }
    }

    .seccionUbicacion{
        width: 100%;
        margin: 50px auto 50px auto;
        text-align: left;
        margin-bottom: -5px;
        .tituloSeccionUbicacion{
            color: #553d2a;
            text-align: center;
            font-size: 3rem;
            padding-top: 50px;
        }
    }

    .seccionError{
        width: 96%;
        margin: 50px auto 50px auto;
        text-align: center;
        .tituloSeccionError{
            color: #553d2a;
            text-align: center;
            font-size: 2.8rem;
            padding-top: 50px;
            padding-bottom: 15px;
        }
        .subtituloSeccionError{
            color: #553d2a;
            text-align: center;
            font-size: 1.4rem;
            padding-bottom: 50px;
        }
        .imgError{
            width: 270px;
            height: auto;
            border-radius: 12px;
            margin: 10px 10px 10px 10px;
        }

        .linkError{
            box-sizing: content-box;
            display: inline;
            display: inline-block;
            background-color: rgba(255, 255, 255, 0);
            width: 100px;
            color: #553d2a;
            text-decoration: none;
            border: 1px solid #553d2a;
            border-radius: 25px;
            font-size: 16px;
            text-align: center;
            padding: 10px;
            margin-top:10px;
        }
        .linkError:hover{
            background-color: #553d2a;
            color: #fff9e1;
            cursor: pointer;
        }
    }
    @media screen and (max-width: 768px){
        .seccionError{
            .tituloSeccionError{
                font-size: 2.2rem;
            }
            .subtituloSeccionError{
                font-size: 1.1rem;
            }
            .imgError{
                width: 200px;
            }
        }
    }
}

.mainCafeteria{
    .seccionTitulo{
        padding-left: 3%;
        padding-top: 3%;
        color: #fff9e1;
        line-height: 1;
        background-image: url("../assets/img/fondo_cafeteria.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        width: 100%;
        height: 280px;
        .tituloPrincipal{
            font-size: 4.5rem;
            font-weight: 700;
            margin-bottom: 10px;
        }
        .tituloSecundario{
            font-size: 2.5rem;
            font-weight: 300;
            margin-top: 10px;
            }     
    }
    @media screen and (max-width: 768px){
        .seccionTitulo{
            padding-left: 6%;
            padding-top: 6%;
            background-image: url("../assets/img/fondo_cafeteria_peq.jpg");
            .tituloPrincipal{
                font-size: 3.5rem;
                margin-top: 5px;
            }
            .tituloSecundario{
                font-size: 1.8rem;
                margin-top: 5px;
                }     
        }
    }
    .lineaTitulos{
        width: 7%;
        border: 2px solid #553d2a;
        border-radius: 12px;
        margin: 10px auto 50px auto;
        text-align: center;
    }

    .divSeparador{
        height: 40px;
    }

    .seccionCardsCafe{
        width: 96%;
        margin: 50px auto 50px auto;
        text-align: center;
        z-index: 2;
        .tituloSeccionCardCafe{
            color: #553d2a;
            text-align: center;
            font-size: 3rem;
            padding-top: 50px;
        } 
        .cardCafe{
            display: inline-block;
            width: 320px;
            height: auto;
            background-color: #e3d7bf;
            border-radius: 12px;
            margin: 30px;
            position: relative;
            .productoNuevo .fa-star{
                width: 28%;
                position: absolute;
                font-size: 0.7rem;
                background-color:#553d2a;
                color: #ffee00;
                padding: 7px 0px 7px 0px;
                border-top-left-radius: 12px;
                border-bottom-left-radius: 12px;
                top: 15px;
                left: 231px;
            }           
            .imgCardCafe{
                width: 100%;
                height: 80%;
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
                object-fit: contain;
                object-fit: cover;
            }
            .tituloCardCafe{
                font-size: 1.7rem;
                color: #553d2a;
                font-weight: bold;
                text-align: left;
                margin-top: 10px;
                margin-left: 10px;
            }
            .txtCardCafe{
                font-size: 1.1rem;
                color: #553d2a;
                font-weight: normal;
                text-align: left;
                margin-top: 3px;
                margin-left: 10px;
                margin-bottom: 25px;
            }
            .signoMonedaCardCafe{
                font-size: 1.4rem;
                color: #e3d7bf;
                font-weight: bold;
                text-align: right;
            }
            .monedaCardCafe{
                font-size: 2.1rem;
                color: #e3d7bf;
                background-color: #7e634e;
                font-weight: bold;
                text-align: right;
                margin-top: 3px;
                padding: 7px 10px 0px 0px;
            }
            .txtmonedaCardCafe{
                font-size: 0.7rem;
                color: #e3d7bf;
                background-color: #7e634e;
                font-weight: normal;
                text-align: right;
                padding: 0px 10px 7px 0px;
            }
            .linkCardCafe{
                box-sizing: content-box;
                display: inline;
                display: inline-block;
                background-color: rgba(255, 255, 255, 0);
                width: 100px;
                color: #553d2a;
                text-decoration: none;
                border: 1px solid #553d2a;
                border-radius: 25px;
                font-size: 16px;
                text-align: center;
                padding: 10px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .linkCardCafe:hover{
                background-color: #553d2a;
                color: #fff9e1;
            }
        }
        .cardCafe:hover{
            box-shadow: 0px 0px 14px -3px rgba(85,61,42,0.83);
        }
    }
}

.seccionSuscripcion{
    background-image: url("../assets/img/fondo_suscripcion.jpg");
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 45px 0px 45px 0px;
    form{
        display: flex;
        width: 50%;
        input[type="email"]{
            width: 30%;
            max-width: 30%;
            height: 38px;
            font-size: 1.2rem;
            border: 1px solid #553d2a;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            padding: 7px 5px 5px 15px;
            margin-top: 10px;
            margin-left: 20px;
            box-sizing:content-box;
        }
        input[type="submit"]{
            font-size: 1.2rem;
            height: 38px;
            font-weight: normal;
            background-color: #553d2a;
            color: #fff9e1;
            border: 1px solid #553d2a;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            padding: 7px 25px 5px 20px;
            margin-top: 10px;
            box-sizing:content-box;
            cursor: pointer;
        }
    }
    .tituloFooterSuscripcion{
        width: 50%;
        max-width: 50%;
        font-size: 1.8rem;
        color: #553d2a;
        font-weight: normal;
        text-align: right;
        padding-right: 20px;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .tituloFooterSuscripcion1{
        font-size: 2.4rem;
        color: #553d2a;
        font-weight: bold;
        text-align: right;
        margin-top: 3px;
        margin-bottom: 3px;
    }
}
@media screen and (max-width: 768px){
    .seccionSuscripcion{
        flex-direction: column;;
        form{
            width: 100%;
            input[type="email"]{
                width: 100%;
                max-width: 100%;
            }
            input[type="submit"]{
                margin-right: 20px;
            }
        }
        .tituloFooterSuscripcion{
            width: 100%;
            max-width: 100%;
            text-align: center;
            padding-right: initial;
            margin-top: initial;
            margin-bottom: initial;
        }
        .tituloFooterSuscripcion1{
            text-align: center;
            margin-top: initial;
            margin-bottom: initial;
        }
    }
}

.footerPrincipal{
    background-color: #907761;
    .footer{
        color: #553d2a;
        display: flex;
        justify-content: center;
        gap: 10%;
        padding: 30px;
        .logoFotter{
            width:170px;
            margin: 0px;
        }
        .listaNavFooter{
            list-style: none;
            text-align: left;
            .listaItemFooter{
                margin: 0px 0px 5px 0px;
                .linkNavFooter{
                    color: #fff9e1;
                    text-decoration: none;
                    font-size: 1rem;
                }
                .linkNavFooter:hover{
                    color: #553d2a;
                }
                .linkNavFooter:active{
                    font-size: 1.3rem;
                }
            }
        }
        .tituloFooter{
            font-size: 1.3rem;
            color: #553d2a;
            font-weight: bold;
            text-align: left;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .txtFooter{
            font-size: 1.1rem;
            color:#553d2a;
            font-weight: bold;
            text-align: left;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .txtFooter1{
            font-size: 1rem;
            color:#553d2a;
            font-weight: normal;
            text-align: left;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .iconoSocial{
            color:#fff9e1;
            font-size: 28px;
            margin: 7px;
        }
    }
    @media screen and (max-width: 768px){
        .footer{
            width: 50%;
            margin: 0 auto;
            flex-direction: column;
            align-items: flex-start;
            padding: 10px;
            .logoFotter{
                margin: 10px;
            }
        }
    }
}

.copyright{
    background-color: #553d2a;
    font-size: 1rem;
    letter-spacing: 0.03rem;
    color: #e3d7bf;
    padding: 15px;
    text-align: center;
}