/* Colores */
$color-marron: #553d2a;
$color-marron1: #5f4633;
$color-marron2: #69503c;
$color-marron3: #735945;
$color-marron4: #7e634e;
$color-marron5: #907761;
$color-marron6: #ab9680;
$color-marron7: #c7b69f;
$color-marron8: #e3d7bf;
$color-marron9: #fff9e1;
$color-marron10: #e3d7bf27;
$color-sombras: #553d2a59;
$color-blanco: #ffffff;
$color-rojo: #e7190b;
$color-amarillo: #ffee00;
$color-whatsapp: #25D366;