/* Alto y Ancho*/
$ancho1: 1%;
$ancho30: 30%;
$ancho35: 35%;
$ancho40: 40%;
$ancho45: 45%;
$ancho50: 50%;
$ancho65: 65%;
$ancho70: 70%;
$ancho75: 75%;
$ancho80: 80%;
$ancho85: 85%;
$ancho95: 95%;
$ancho100: 100%;

$ancho100px: 100px;
$ancho200px: 200px;

$alto40: 40%;
$alto50: 50%;
$alto80: 80%;
$alto100: 100%;

$alto100vh: 100vh;