/* Margenes, Espaciados, Tamaños */
$size-px-1: 1px;
$size-px-2: 2px;
$size-px-3: 3px;
$size-px-3menos: -3px;
$size-px-5: 5px;
$size-px-7: 7px;
$size-px-10: 10px;
$size-px-12: 12px;
$size-px-14: 14px;
$size-px-15: 15px;
$size-px-16: 16px;
$size-px-18: 18px;
$size-px-20: 20px;
$size-px-25: 25px;
$size-px-30: 30px;
$size-px-15: 15px;
$size-px-40: 40px;
$size-px-45: 45px;
$size-px-50: 50px;
$size-px-55: 55px;
$size-px-75: 75px;
$size-px-80: 80px;

$size-px-3x: 3%;
$size-px-6x: 6%;