/* Tamaños de Fuentes */
$fuente-0-4: 0.4rem;
$fuente-0-5: 0.5rem;
$fuente-0-6: 0.6rem;
$fuente-0-7: 0.7rem;
$fuente-0-8: 0.8rem;
$fuente-0-9: 0.9rem;
$fuente-1: 1rem;
$fuente-1-1: 1.1rem;
$fuente-1-2: 1.2rem;
$fuente-1-3: 1.3rem;
$fuente-1-5: 1.5rem;
$fuente-1-8: 1.8rem;
$fuente-2-1: 2.1rem;
$fuente-2-5: 2.5rem;
$fuente-2-7: 2.7rem;
$fuente-3: 3rem;
$fuente-3-3: 3.3rem;
$fuente-3-5: 3.5rem;
$fuente-4-5: 4.5rem;