.footerPrincipal{
    background-color: $color-marron5;
    .logoFotter{
        width: $ancho-logo;
        margin: 0;
    }
    .footerCol{
        margin-top: $size-px-20;
        margin-bottom: $size-px-20;
    }
    .listaNavFooter{
        list-style: none;
        text-align: left;
        .listaItemFooter{
            margin: 0 0 $size-px-5 0;
            .linkNavFooter{
                color: $color-marron9;
                text-decoration: none;
                font-size: $fuente-1;
            }
            .linkNavFooter:hover{
                color: $color-marron;
            }
            .linkNavFooter:active{
                font-size: $fuente-1-3;
            }
        }
    }
    .tituloFooter{
        font-size: $fuente-1-3;
        color: $color-marron;
        font-weight: bold;
        text-align: left;
        margin-bottom: $size-px-10;
    }
    .txtFooter{
        font-size: $fuente-1-1;
        color: $color-marron;
        font-weight: bold;
        text-align: left;
        margin-top: $size-px-10;
        margin-bottom: $size-px-10;
    }
    .txtFooter1{
        font-size: $fuente-1;
        color: $color-marron;
        font-weight: normal;
        text-align: left;
        margin-top: $size-px-10;
        margin-bottom: $size-px-10;
    }
    .tituloFooterSocial{
        font-size: $fuente-1-3;
        color: $color-marron;
        font-weight: bold;
        text-align: left;
        margin-bottom: $size-px-10;
    }
    /*Iconos Redes Sociales con MAPS y EACH*/
    @each $red, $color in $redes{
        .btnColor--#{$red} {
            min-width: $size-px-45;
            background-color: $color-marron9;
            padding: $size-px-5;
            border: none;
            border-radius: $size-px-3;
            outline: none;
            color: $color;
            font-size: $fuente-1-8;
            margin: $size-px-7;
            text-align: center;
            box-shadow: 0 0 $size-px-5 $size-px-2 $color-marron9;
            transition: transform 0.3s ease, margin-top 0.3s ease;
            &:hover {
                background-color: $color;
                color: $color-marron9;
                box-shadow: 0 0 $size-px-5 $size-px-2 $color;
                transform: scale(1.05);
                margin-top: -10px;
            }
        }
    }
}
@media screen and (max-width: 768px){
    .footerPrincipal{
        width: $ancho100;
        margin: 0 auto;
        align-items: center;
        text-align: center;
        .listaNavFooter{
            padding: initial;
        }
        .logoFotter{
            margin: $size-px-10;
        }
        .container{
            width: $ancho65;
        }
        .tituloFooter{
            text-align: center;
        }
        .tituloFooterSocial{
            text-align: center;
        }
        .footerCol{
            .txtFooter{
                text-align: center;
            }
            .txtFooter1{
                text-align: center;
            }
        }
        .listaNavFooter{
            text-align: center;
        }
    }
}